@import '../../var';

.book-list {
    text-align: center;
  button {
    margin-top: 24px;
  }
  .row {
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 18px;
  }
}
