@import '../../var';

.header {
  background: $green;
  height: 64px;
  margin-bottom: 24px;
  .left img {
    height: 64px;
    padding: 12px;
  }
  .right {
    padding-right: 12px;
    padding-top: 16px;
    button {
      margin-left: 24px;
    }
  }
}
